<div class="container">

    <h2>Registro</h2>

    <form [formGroup]="registerForm">

        <div>
            <label>Nombre</label>

            <input type="text" formControlName="nombre">
        </div>

        <div>
            <label>Email</label>

            <input type="email" formControlName="email">
        </div>

        <div>
            <label>Password</label>

            <input type="password" formControlName="password">
        </div>

        <div>
            <label>Rol</label>

            <select formControlName="rol">

                <option value="estudiante">
                    Estudiante
                </option>

                <option value="instructor">
                    Instructor
                </option>

            </select>
        </div>

        <button type="button" (click)="register()">

            Registrarse

        </button>

    </form>

</div>