<app-navbar></app-navbar>

<div class="curso-container">

    <div class="curso-card">

        <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4">

        <div class="curso-info">

            <h1>Curso de Angular</h1>

            <p class="descripcion">

                Aprende Angular desde cero y crea aplicaciones modernas
                conectadas con APIs y MongoDB.

            </p>

            <div class="details">

                <p>
                    <strong>Instructor:</strong>
                    Juan Pérez
                </p>

                <p>
                    <strong>Duración:</strong>
                    40 Horas
                </p>

                <p>
                    <strong>Nivel:</strong>
                    Intermedio
                </p>

            </div>

            <button>
                Inscribirse
            </button>

        </div>

    </div>

</div>