
<section class="hero">

    <div class="hero-content">

        <h1>Aprende desde cualquier lugar</h1>

        <p>
            Plataforma de cursos online con Angular, Node.js y MongoDB
        </p>

        <button class="btn">
            Explorar Cursos
        </button>

    </div>

</section>

<section class="courses">

    <h2 class="section-title">
        Cursos Destacados
    </h2>

    <div class="course-container">

        <div class="course-card">

            <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4">

            <div class="course-info">

                <h3>Angular</h3>

                <p>
                    Aprende Angular desde cero.
                </p>

                <button class="btn">
                    Ver Curso
                </button>

            </div>

        </div>

        <div class="course-card">

            <img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c">

            <div class="course-info">

                <h3>Node.js</h3>

                <p>
                    Aprende Backend profesional.
                </p>

                <button class="btn">
                    Ver Curso
                </button>

            </div>

        </div>

        <div class="course-card">

            <img src="https://images.unsplash.com/photo-1542831371-d531d36971e6">

            <div class="course-info">

                <h3>MongoDB</h3>

                <p>
                    Domina bases de datos NoSQL.
                </p>

                <button class="btn">
                    Ver Curso
                </button>

            </div>

        </div>

    </div>

</section>

<footer>

    <p>
        © 2026 CursosOnline
    </p>

</footer>