<div class="courses-page">

    <h1>Todos los Cursos</h1>

    <div class="courses-grid">

        <div class="course-card" *ngFor="let curso of cursos">

            <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4">

            <div class="course-content">

                <h2>
                    {{curso.nombre}}
                </h2>

                <p>
                    {{curso.descripcion}}
                </p>

                <button [routerLink]="['/ver-curso', curso._id]">
                    Ver Curso
                </button>

            </div>

        </div>

    </div>

</div>