<div class="login-container">

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">

        <h2>Iniciar Sesión</h2>

        <input type="email" placeholder="Correo" formControlName="email">

        <input type="password" placeholder="Contraseña" formControlName="password">

        <button type="submit">Ingresar</button>

        <p class="register-link">
            ¿No tienes cuenta?
            <a routerLink="/register">Regístrate aquí</a>
        </p>

    </form>

</div>