.login-container{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
}

.login-form{
    width:350px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);

    display:flex;
    flex-direction:column;
}

.login-form h2{
    text-align:center;
    margin-bottom:25px;
}

.login-form input{
    margin-bottom:15px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.login-form button{
    padding:12px;
    border:none;
    background:#38bdf8;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.login-form button:hover{
    background:#0ea5e9;
}